.container
  %h2.text-center Welcome to my super feature-rich and responsive blog!
  %h3.text-center Right now it is: #{@time}
  .row.align-items-center.mb-5
    .col-12.col-sm-6
      =image_tag "cv.jpg", class: "img-fluid"
    .col-12.col-sm-6
      %p.text-center I don't drink coffee, and probably never will
  = render "posts/posts", posts: @posts